<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})" >
<head>
<meta charset="ISO-8859-1">
<title>This is about page</title>
</head>
<body>
<section>
<h1>This is about  page</h1>
<p>
 Be sure to have your pages set up with the latest design and development standards. That means using an HTML5 doctype and including a viewport meta tag 
 for proper responsive behaviors. Put it all together and your pages should look like this:
</p>
</section>

</body>
</html>