<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is home page</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center ">
		<div class="text-center">
			<h1 class="font-weight-bold">This is Home page</h1>
			<p>ouTube is an American online video sharing and social media
				platform headquartered in San Bruno, California. It was launched on
				February 14, 2005, by Steve Chen, Chad Hurley, and Jawed Karim.
				Owned by Google, it is the second most visited website, right after
				Google itself</p>

			<button class="btn bg-primary btn-lg text-white">Get Start</button>
		</div>
	</section>

</body>
</html>